<section class="partial">
   <section>
      <h2>Comme partout ...</h2>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>var / let / const</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Hoisting</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>if / else </h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>for / while</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>try / catch</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Les fonctions</h3>

      <p>
         Présentation
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Les fonctions</h3>

      <p>
         Déclaration
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Les fonctions</h3>

      <p>
         Utilisation des arguments
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Fonctionnelle</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Exercice</h3>

      <p>
         Lodash
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>