<section class="partial">
   <section>
      <h2>Les APIs</h2>

      <p></p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Number</h3>

      <pre class="fragment"><code class="javascript">Number.NaN</code></pre>
      <pre class="fragment"><code class="javascript">Number.MAX_VALUE</code></pre>
      <pre class="fragment"><code class="javascript">Number.MIN_VALUE</code></pre>
      <pre class="fragment"><code class="javascript">Number.prototype.toString() //Permet de transtyper un number vers un string</code></pre>

      <pre class="fragment"><code class="javascript">parseInt() //Parse un string vers un entier</code></pre>
      <pre class="fragment"><code class="javascript">parseFloat() //Parse un string vers un flotant</code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Number ES6</h3>

      <pre class="fragment"><code class="javascript">Number.EPSILON</code></pre>
      <pre class="fragment"><code class="javascript">Number.isNaN() //true si un nombre n'est pas un nombre</code></pre>
      <pre class="fragment"><code class="javascript">Number.isInteger() //true si un nombre est un entier</code></pre>
      <pre class="fragment"><code class="javascript">Number.isFinite() //true si un nombre est fini</code></pre>
      <pre class="fragment"><code class="javascript">Number.parseInt()</code></pre>
      <pre class="fragment"><code class="javascript">Number.parseFloat()</code></pre>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>String</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Math</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Date</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Object</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Array</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Array</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Array</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Exercice</h3>

      <p>
         Refaire quelques fonctions de Lodash
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>
