<section class="partial">
   <section>
      <h2>Soyons un peu plus JS</h2>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>JSON</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Object</h3>

      <p>
         Assign, Create
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Function</h3>

      <p>
         Call, Bind
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Exercice</h3>

      <p>
         Quelques fonctions de Lodash
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Expression régulière</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Expression régulière</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Expression régulière</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Exercices</h3>

      <p>
         Expression régulière
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>