<section class="partial">
   <section>
      <h2>Browser</h2>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Le DOM</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Créer un élément</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Ajouter un élément</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Récupérer un élément</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Supprimer un élément</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Modifier un élément</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Styles/Classes</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
   <section>
      <h3>Evennements</h3>

      <p>
      </p>

      <aside class="notes">
         <ul>
            <li></li>
         </ul>
      </aside>
   </section>
</section>