<section class="partial">
   <h2>About us</h2>

   <div style="display: inline-block; margin-right: 50px; position: relative; top: -70px; text-align: left;">
      <p>
         <small>
            <img src="/img/twitter.png" style="width: 40px; height: 40px; margin: -5px 0 0 0"/>
            <a href="https://twitter.com/florpeliere" target="_blank">@florpeliere</a>
         </small>
      </p>
      <p>
         <small>
            <img src="/img/twitter.png" style="width: 40px; height: 40px; margin: -5px 0 0 0"/>
            <a href="https://twitter.com/SiegfriedEhret" target="_blank">@SiegfriedEhret</a>
         </small>
      </p>
      <p>
         <small>
            <img src="/img/twitter.png" style="width: 40px; height: 40px; margin: -5px 0 0 0"/>
            <a href="https://twitter.com/SylvainCau" target="_blank">@SylvainCau</a>
         </small>
      </p>
   </div>
   <div style="display: inline-block; width: calc(40% - 100px);">
      <img class="circular" src="/img/BearsJS_Full_bg.png" width="100%"/>
   </div>
</section>
